<footer>
    <p><a href="https://github.com/bumpylumps/tarot-bumps" 
        target="_blank">Find me on Github</a></p>
    <p>&#169; Bumpsites 11/2022</p>
    <p><a href="mailto:alexander.fulop.art@gmail.com">Email me</a> for questions, comments, concerns</p>
</footer>

<!--Scripts-->
<script type="text/javascript" src="/main.js"></script>
</body>
</html>