<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card-o-pedia</title>
</head>
<body>
    <section class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About TarotBumps</a></li>
            <li><a href="https://www.bumpsites.com/index.html">About Bumpy</a></li>
            <li><a href="/card-o-pedia/">Card-o-pedia</a></li>
        </ul>
    </section>

    <section>
        <h1>Pick a card, any card Senpai</h1>
        <input type="text" name="" value="">
        <button type="button" name="button">Get Card!</button>
    </section>
    <script src="main.js"></script>
</body>
</html>