<%- include('partials/header') -%>

    <section class="picker">
        <h1>Pick a card, any card</h1>
        <input type="text" name="cardName" value="">
        <button type="button" name="getCard" id="getCard">Get Card!</button>
    </section>

    <%- include('partials/footer') -%>