<%- include('partials/header') -%>

    <section class="picker">
        <h1>Pick A Card</h1>
        <form id="spread">
        <button type="button" name="button">Get Pull!</button>
        </form>
    </section>

    <article class="main">
        <img id='cardImage' src= "https://placekitten.com/250/300" alt="Card image">
        <ul>
            <li>
                    <h2>Name: </h2>
                    <p id="name"></p>
            </li>
            <li>
                    <h2>Number: </h2>
                    <p id="number"></p>
            </li>
            <li>
                    <h2>Arcana: </h2>
                    <p id="arcana"></p>
            </li>
            <li>
                    <h2>Element: </h2>
                    <p id="element"></p>
            </li>
            <li>
                    <h2>Signs: </h2>
                    <p id="signs"></p>
            </li>
            <li>
                    <h2>Associated Symbols/Themes: </h2>
                    <p id="symbols"></p>
                    <p id="themes"></p>
            </li>
        </ul>
        <!-- 
        'name': 'Page of Cups',
        'number': 11,
        'arcana': 'Minor',
        'element': 'Water',
        'signs': 'Cancer, Scorpio, Pisces',
        'id': 74
        -->

    </article>



    <%- include('partials/footer') -%>