* {
    box-sizing: border-box;
    background-color: #7AA9E5;
}

body {
        box-sizing: border-box;
        background-color: #7AA9E5;
}

a {
    color: purple;
}

#cardImage {
    outline: 2px solid purple;
    min-height: 300px;
    height: fit-content;
    min-width: 25%;
    width: fit-content;
    margin: 2% 2%;
}


nav ul {
    width: 100%;
    display: flex;
    margin: 3% auto;
    justify-content: space-evenly;
}

.picker {
    width: fit-content;
    margin: 3% auto;
}

form#spread {
    margin: 0 auto;
    width: fit-content;
}

article {
    outline: 2px solid purple;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.main p {
    font-size: 2rem;

}

p#signs {
    margin-left: 5%;
    min-width: 80%;
    width: fit-content;
}

li {
    display: flex;
    margin: 0 auto;
}

li p {
    margin: auto;
}


footer {
    width: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: space-around;
    margin: 0% auto;
    font-size: .75rem;
    margin-top: 9%;
  }

/*about tarotBumps */


.about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: fit-content;
    margin: 2% auto;
}

.howTo li {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}