* {
    box-sizing: border-box;
    background-color: #7AA9E5;
}

body {
        box-sizing: border-box;
        background-color: #7AA9E5;
}

a {
    color: purple;
}

#cardImage {
    outline: 2px solid purple;
    min-height: 300px;
    height: fit-content;
    min-width: 25%;
    width: fit-content;
    margin: 2% 2%;
}

/* nav bar */

nav, nav li, nav ul { 
    background-color: #6969F5; 
}

nav a{ 
    color: #CBCBF4; 
    text-decoration: none;
    font-size: 1.5rem;
}



nav ul {
    width: 100%;
    display: flex;
    margin: 1% auto;
    justify-content: space-evenly;
}

/* home */

.picker {
    width: fit-content;
    margin: 3% auto;
}

form#spread {
    margin: 0 auto;
    width: fit-content;
}

article {
    outline: 2px solid purple;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

article ul { 
    margin-top: 5%; 
}


.main p {
    font-size: 2rem;

}

button:hover {
     background-color: #CBCBF4;
     color: #6969F5;
}

button:active {
    background-color:#6969F5; 
    color: #CBCBF4;
}

p#signs {
    margin-left: 5%;
    min-width: 80%;
    width: fit-content;
}

li {
    display: flex;
    margin: 0 auto;
}

li p {
    margin: auto;
}


footer {
    width: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: space-around;
    margin: 0% auto;
    font-size: .75rem;
    margin-top: 9%;
  }

/*about tarotBumps */


.about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: fit-content;
    margin: 2% auto;
}

.howTo li {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}



/* cardopedia */

.catalogue { 
    outline: 3px solid purple;
    max-width: 90%;
    width: fit-content;
    height: fit-content;
    margin: 2% auto;

}

.catalogue ul { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
}

.catalogue li {
    outline: 2px solid red;
    width: 15%;
    max-width: 10%;
    min-height: 220px;
    height: fit-content;
    flex-direction: column;
    text-align: center;
    margin: 2%;
}

.catalogue li:hover { 
    cursor: pointer;
}